./cmake-build-debug/
./build/
./build-debug/
./.idea/
./cmake-build-debug/*
./build/*
./build-debug/*
./.idea/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
IPlugin.hpp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea
cmake-build-debug
build
build-debug
Plugins